.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  background-color: #0054A5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {

}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .button {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightbox .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  /*max-width: 500px;
  max-height: 95vh;*/
  margin: 16% auto;
  background: #fff;
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;  
}
.lightbox .header,
.lightbox .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightbox .header .h,
.lightbox .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightbox .header .button:not(:first-child),
.lightbox .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightbox .header {
}
.lightbox .footer {
  padding-top: 20px;
}
.lightbox .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: scroll-auto;
  width: 80%;
}
.lightbox .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
 
.columnasTresContenidoLightbox{
    width: 20%;
    float: left;
}

.columnasTresContenidoLightboxRef{
    width: 14.2%;
    float: left;
}

.parrafofilaUnoLightbox{
    text-align: left;
    padding-left: 15%;
    width: 100%;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
    float: left;
    font-size: 1em;
}

.header{
width: 100%;
height: 5%;
background-color: #0054a5;    
}
