/* Reset */
.social-buttons {
  height: 40px;
  margin-left: 10px;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-button {
  display: inline-block;
  background-color: #0054A5;
  width: 170px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #fff;
  width: 200%;
  height: 220px;
  position: absolute;
  top: 90%;
  left: -150%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.facebook:before{
  background-color: #fff;
}

.social-button.facebook:link, .social-button.facebook:visited
{color:blue;}
/*
.social-button.facebook.active {
  background-color: green;
}
*/
.social-button.facebook .fa {
  color: #fff;
}


.social-button.twitter:before {
  background-color: #fff;
}
.social-button.twitter .fa {
  color: #fff;
}
.social-button.google:before {
  background-color: #fff;
}
.social-button.google .fa {
  color: #fff;
}
.social-button.dribbble:before {
  background-color: #fff;
}
.social-button.dribbble .fa {
  color:#fff;
}
.social-button.skype:before {
  background-color: #fff;
}
.social-button.skype .fa {
  color: #fff;
}
.social-button:focus:before, .social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa{
  color: #eb1c24;
  -webkit-transform: scale(1);
          transform: scale(1);
}
@media screen and (max-width:950px){
     .social-button {
  display: inline-block;
  background-color: #0054A5;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
    
}
@media screen and (max-width:767px){
    .social-button {
  display: inline-block;
  background-color: #0054A5;
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
    .social-button:before {
  content: '';
  background-color: #000;
  width: 170%;
  height: 110px;
  position: absolute;
  top: 90%;
  left: -150%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
    
}
@media screen and (max-width:480px){
    
    .social-buttons {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-button {
  display:block;
  background-color: #0054A5;
  width: 230px;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;    
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
}


.social-button2 {
  display: inline-block;
  background-color: #0054A5;
  width: 170px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

