.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightbox .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
    
  max-height: 80vh;
    min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightbox .header,
.lightbox .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightbox .header .h,
.lightbox .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightbox .header .button:not(:first-child),
.lightbox .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightbox .header {
}
.lightbox .footer {
  padding-top: 20px;
}
.lightbox .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightbox .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}

.columnasTresContenidoLightbox{
    width: 20%;
    float: left;
    }

    .columnasTresContenidoLightboxRef{
    width: 14.2%;
    float: left;
    }

    .parrafofilaUnoLightbox{
    text-align: left;
    padding-left: 15%;
    width: 100%;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
    float: left;
    font-size: 1em;
    }

    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightbox .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
    
/* COMIENZA LIGHTBOX UNO*/

.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxCinco {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxCinco .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
    
  max-height: 80vh;
    min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxCinco .header,
.lightboxCinco .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxCinco .header .h,
.lightboxCinco .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxCinco .header .button:not(:first-child),
.lightboxCinco .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxCinco .header {
}
.lightboxCinco .footer {
  padding-top: 20px;
}
.lightboxCinco .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxCinco .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxCinco .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*FINALIZA LIGHTBOXUNO*/

/* COMIENZA LIGHTBOX DOS*/

.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxDos {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
    
  max-height: 80vh;
    min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxDos .header,
.lightboxDos .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxDos .header .h,
.lightboxDos .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxDos .header .button:not(:first-child),
.lightboxDos .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxDos .header {
}
.lightboxDos .footer {
  padding-top: 20px;
}
.lightboxDos .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxDos .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
    
/*FINALIZA LIGHTBOXDOS*/

/* COMIENZA LIGHTBOX TRES*/

.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxTres {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxTres .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
    
  max-height: 80vh;
    min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxTres .header,
.lightboxTres .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxTres .header .h,
.lightboxTres .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxTres .header .button:not(:first-child),
.lightboxTres .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxTres .header {
}
.lightboxTres .footer {
  padding-top: 20px;
}
.lightboxTres .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxTres .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxTres .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
    
/*FINALIZA LIGHTBOX TRES*/

/* COMIENZA LIGHTBOX CUATRO*/

.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxCuatro {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxCuatro .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
    
  max-height: 80vh;
    min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxCuatro .header,
.lightboxCuatro .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxCuatro .header .h,
.lightboxCuatro .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxCuatro .header .button:not(:first-child),
.lightboxCuatro .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxCuatro .header {
}
.lightboxCuatro .footer {
  padding-top: 20px;
}
.lightboxCuatro .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxCuatro .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxCuatro .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
    
/*FINALIZA LIGHTBOX CUATRO*/

/* COMIENZA LIGHTBOX CINCO*/

.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxCinco {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxCinco .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
    
  max-height: 80vh;
    min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxCinco .header,
.lightboxCinco .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxCinco .header .h,
.lightboxCinco .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxCinco .header .button:not(:first-child),
.lightboxCinco .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxCinco .header {
}
.lightboxCinco .footer {
  padding-top: 20px;
}
.lightboxCinco .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxCinco .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxCinco .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
    
/*FINALIZA LIGHTBOX CINCO*/
/* COMIENZA PEQUEÑO UNO*/

.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  background-color: #0054A5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxPequeno {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxPequeno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 15% auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxPequeno .header,
.lightboxPequeno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxPequeno .header .h,
.lightboxPequeno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxPequeno .header .button:not(:first-child),
.lightboxPequeno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxPequeno .header {
}
.lightboxPequeno .footer {
  padding-top: 20px;
}
.lightboxPequeno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxPequeno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxPequeno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
    
/*FINALIZA PEQUEÑO*/



/*LIGHTBOX PEQUEÑO ABSOLUTO*/
/*LIGHTBOX PEQUEÑO ABSOLUTO*/
/*LIGHTBOX PEQUEÑO ABSOLUTO*/
.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  background-color: #0054A5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxPequenoAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxPequenoAbsolute .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;lightboxPequenoAbsolute
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 80px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxPequenoAbsolute .header,
.lightboxPequenoAbsolute .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxPequenoAbsolute .header .h,
.lightboxPequenoAbsolute .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxPequenoAbsolute .header .button:not(:first-child),
.lightboxPequenoAbsolute .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxPequenoAbsolute .header {
}
.lightboxPequenoAbsolute .footer {
  padding-top: 20px;
}
.lightboxPequenoAbsolute .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxPequenoAbsolute .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxPequenoAbsolute .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX PEQUEÑO ABSOLUTE*/
/*LIGHTBOX PEQUEÑO ABSOLUTE*/
/*LIGHTBOX PEQUEÑO ABSOLUTE*/
/*LIGHTBOX PEQUEÑO ABSOLUTE*/
/*LIGHTBOX PEQUEÑO ABSOLUTE*/
/*LIGHTBOX PEQUEÑO ABSOLUTE*/

/*LIGHTBOX PEQUEÑO ABSOLUTO UNO*/
/*LIGHTBOX PEQUEÑO ABSOLUTO UNO*/
/*LIGHTBOX PEQUEÑO ABSOLUTO UNO*/

.lightboxPequenoAbsoluteUno {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxPequenoAbsoluteUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;lightboxPequenoAbsolute
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 80px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxPequenoAbsoluteUno .header,
.lightboxPequenoAbsoluteUno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxPequenoAbsoluteUno .header .h,
.lightboxPequenoAbsoluteUno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxPequenoAbsoluteUno .header .button:not(:first-child),
.lightboxPequenoAbsoluteUno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxPequenoAbsoluteUno .header {
}
.lightboxPequenoAbsoluteUno .footer {
  padding-top: 20px;
}
.lightboxPequenoAbsoluteUno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxPequenoAbsoluteUno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxPequenoAbsoluteUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX PEQUEÑO ABSOLUTE UNO*/
/*LIGHTBOX PEQUEÑO ABSOLUTE UNO*/
/*LIGHTBOX PEQUEÑO ABSOLUTE UNO*/

/*LIGHTBOX MEDIANO ABSOLUTE*/
/*LIGHTBOX MEDIANO ABSOLUTE*/
/*LIGHTBOX MEDIANO ABSOLUTE*/
.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxMedianoAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoAbsolute .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoAbsolute .header,
.lightboxMedianoAbsolute .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoAbsolute .header .h,
.lightboxMedianoAbsolute .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoAbsolute .header .button:not(:first-child),
.lightboxMedianoAbsolute .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoAbsolute .header {
}
.lightboxMedianoAbsolute .footer {
  padding-top: 20px;
}
.lightboxMedianoAbsolute .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoAbsolute .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoAbsolute .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO ABSOLUTE*/
/*LIGHTBOX MEDIANO ABSOLUTE*/
/*LIGHTBOX MEDIANO ABSOLUTE*/

/*LIGHTBOX MEDIANO ABSOLUTE UNO*/
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/

.lightboxMedianoAbsoluteUno {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoAbsoluteUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoAbsoluteUno .header,
.lightboxMedianoAbsoluteUno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoAbsoluteUno .header .h,
.lightboxMedianoAbsoluteUno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoAbsoluteUno .header .button:not(:first-child),
.lightboxMedianoAbsoluteUno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoAbsoluteUno .header {
}
.lightboxMedianoAbsoluteUno .footer {
  padding-top: 20px;
}
.lightboxMedianoAbsoluteUno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoAbsoluteUno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoAbsoluteUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/

/*LIGHTBOX MEDIANO ABSOLUTE DOS*/
/*LIGHTBOX MEDIANO ABSOLUTE DOS*/
/*LIGHTBOX MEDIANO ABSOLUTE DOS*/

.lightboxMedianoAbsoluteDos {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoAbsoluteDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoAbsoluteDos .header,
.lightboxMedianoAbsoluteDos .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoAbsoluteDos .header .h,
.lightboxMedianoAbsoluteDos .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoAbsoluteDos .header .button:not(:first-child),
.lightboxMedianoAbsoluteDos .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoAbsoluteDos .header {
}
.lightboxMedianoAbsoluteDos .footer {
  padding-top: 20px;
}
.lightboxMedianoAbsoluteDos .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoAbsoluteDos .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoAbsoluteDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO ABSOLUTE DOS*/
/*LIGHTBOX MEDIANO ABSOLUTE DOS*/
/*LIGHTBOX MEDIANO ABSOLUTE DOS*/

/*LIGHTBOX MEDIANO ABSOLUTE TRES*/
/*LIGHTBOX MEDIANO ABSOLUTE TRES*/
/*LIGHTBOX MEDIANO ABSOLUTE TRES*/

.lightboxMedianoAbsoluteTres {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoAbsoluteTres .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoAbsoluteTres .header,
.lightboxMedianoAbsoluteTres .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoAbsoluteTres .header .h,
.lightboxMedianoAbsoluteTres .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoAbsoluteTres .header .button:not(:first-child),
.lightboxMedianoAbsoluteTres .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoAbsoluteTres .header {
}
.lightboxMedianoAbsoluteTres .footer {
  padding-top: 20px;
}
.lightboxMedianoAbsoluteTres .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoAbsoluteTres .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoAbsoluteTres .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO ABSOLUTE TRES*/
/*LIGHTBOX MEDIANO ABSOLUTE TRES*/
/*LIGHTBOX MEDIANO ABSOLUTE TRES*/

/*LIGHTBOX MEDIANO ABSOLUTE CUATRO*/
/*LIGHTBOX MEDIANO ABSOLUTE CUATRO*/
/*LIGHTBOX MEDIANO ABSOLUTE CUATRO*/

.lightboxMedianoAbsoluteCuatro {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoAbsoluteCuatro .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoAbsoluteCuatro .header,
.lightboxMedianoAbsoluteCuatro .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoAbsoluteCuatro .header .h,
.lightboxMedianoAbsoluteCuatro .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoAbsoluteCuatro .header .button:not(:first-child),
.lightboxMedianoAbsoluteCuatro .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoAbsoluteCuatro .header {
}
.lightboxMedianoAbsoluteCuatro .footer {
  padding-top: 20px;
}
.lightboxMedianoAbsoluteCuatro .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoAbsoluteCuatro .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoAbsoluteCuatro .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO ABSOLUTE CUATRO*/
/*LIGHTBOX MEDIANO ABSOLUTE CUATRO*/
/*LIGHTBOX MEDIANO ABSOLUTE CUATRO*/

/*LIGHTBOX MEDIANO ABSOLUTE UNO*/
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/
/*LIGHTBOX MEDIANO ABSOLUTE UNO*/

.lightboxMedianoAbsoluteCinco {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoAbsoluteCinco .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoAbsoluteCinco .header,
.lightboxMedianoAbsoluteCinco .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoAbsoluteCinco .header .h,
.lightboxMedianoAbsoluteCinco .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoAbsoluteCinco .header .button:not(:first-child),
.lightboxMedianoAbsoluteCinco .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoAbsoluteCinco .header {
}
.lightboxMedianoAbsoluteCinco .footer {
  padding-top: 20px;
}
.lightboxMedianoAbsoluteCinco .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoAbsoluteCinco .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoAbsoluteCinco .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO ABSOLUTE CINCO*/
/*LIGHTBOX MEDIANO ABSOLUTE CINCO*/
/*LIGHTBOX MEDIANO ABSOLUTE CINCO*/

/*LIGHTBOX GRANDE ABSOLUTO*/
/*LIGHTBOX GRANDE ABSOLUTO*/
/*LIGHTBOX GRANDE ABSOLUTO*/
.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxGrandeAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxGrandeAbsolute .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxGrandeAbsolute .header,
.lightboxGrandeAbsolute .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxGrandeAbsolute .header .h,
.lightboxGrandeAbsolute .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxGrandeAbsolute .header .button:not(:first-child),
.lightboxGrandeAbsolute .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxGrandeAbsolute .header {
}
.lightboxGrandeAbsolute .footer {
  padding-top: 20px;
}
.lightboxGrandeAbsolute .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxGrandeAbsolute .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxGrandeAbsolute .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX GRANDE ABSOLUTO*/
/*LIGHTBOX GRANDE ABSOLUTO*/
/*LIGHTBOX GRANDE ABSOLUTO*/

/*LIGHTBOX GRANDE ABSOLUTO UNO*/
/*LIGHTBOX GRANDE ABSOLUTO UNO*/
/*LIGHTBOX GRANDE ABSOLUTO UNO*/

.lightboxGrandeAbsoluteUno {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxGrandeAbsoluteUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxGrandeAbsoluteUno .header,
.lightboxGrandeAbsoluteUno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxGrandeAbsoluteUno .header .h,
.lightboxGrandeAbsoluteUno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxGrandeAbsoluteUno .header .button:not(:first-child),
.lightboxGrandeAbsoluteUno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxGrandeAbsoluteUno .header {
}
.lightboxGrandeAbsoluteUno .footer {
  padding-top: 20px;
}
.lightboxGrandeAbsoluteUno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxGrandeAbsoluteUno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxGrandeAbsoluteUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX GRANDE ABSOLUTO UNO*/
/*LIGHTBOX GRANDE ABSOLUTO UNO*/
/*LIGHTBOX GRANDE ABSOLUTO UNO*/

/*LIGHTBOX GRANDE ABSOLUTO DOS*/
/*LIGHTBOX GRANDE ABSOLUTO DOS*/
/*LIGHTBOX GRANDE ABSOLUTO DOS*/

.lightboxGrandeAbsoluteDos {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxGrandeAbsoluteDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxGrandeAbsoluteDos .header,
.lightboxGrandeAbsoluteDos .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxGrandeAbsoluteDos .header .h,
.lightboxGrandeAbsoluteDos .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxGrandeAbsoluteDos .header .button:not(:first-child),
.lightboxGrandeAbsoluteDos .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxGrandeAbsoluteDos .header {
}
.lightboxGrandeAbsoluteDos .footer {
  padding-top: 20px;
}
.lightboxGrandeAbsoluteDos .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxGrandeAbsoluteDos .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxGrandeAbsoluteDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX GRANDE ABSOLUTO DOS*/
/*LIGHTBOX GRANDE ABSOLUTO DOS*/
/*LIGHTBOX GRANDE ABSOLUTO DOS*/



/*LIGHTBOX PEQUEÑO FIXEDFIXED*/
/*LIGHTBOX PEQUEÑO FIXEDFIXED*/
/*LIGHTBOX PEQUEÑO FIXEDFIXED*/
/*LIGHTBOX PEQUEÑO FIXEDFIXED*/
/*LIGHTBOX PEQUEÑO FIXEDFIXED*/
/*LIGHTBOX PEQUEÑO FIXEDFIXED*/
.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  background-color: #0054A5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxPequenoFixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxPequenoFixed .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 80px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxPequenoFixed .header,
.lightboxPequenoFixed .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxPequenoFixed .header .h,
.lightboxPequenoFixed .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxPequenoFixed .header .button:not(:first-child),
.lightboxPequenoFixed .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxPequenoFixed .header {
}
.lightboxPequenoFixed .footer {
  padding-top: 20px;
}
.lightboxPequenoFixed .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxPequenoFixed .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxPequenoFixed .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX PEQUEÑO FIXED*/
/*LIGHTBOX PEQUEÑO FIXED*/
/*LIGHTBOX PEQUEÑO FIXED*/

/*LIGHTBOX PEQUEÑO FIXED UNO*/
/*LIGHTBOX PEQUEÑO FIXED UNO*/

.lightboxPequenoFixedUno {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxPequenoFixedUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 80px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxPequenoFixedUno .header,
.lightboxPequenoFixedUno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxPequenoFixedUno .header .h,
.lightboxPequenoFixedUno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxPequenoFixedUno .header .button:not(:first-child),
.lightboxPequenoFixedUno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxPequenoFixedUno .header {
}
.lightboxPequenoFixedUno .footer {
  padding-top: 20px;
}
.lightboxPequenoFixedUno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxPequenoFixedUno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxPequenoFixedUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 500px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX PEQUEÑO FIXED UNO*/
/*LIGHTBOX PEQUEÑO FIXED UNO*/


/*LIGHTBOX MEDIANO FIXED*/
/*LIGHTBOX MEDIANO FIXED*/
/*LIGHTBOX MEDIANO FIXED*/
.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxMedianoFixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoFixed .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoFixed .header,
.lightboxMedianoFixed .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoFixed .header .h,
.lightboxMedianoFixed .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoFixed .header .button:not(:first-child),
.lightboxMedianoFixed .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoFixed .header {
}
.lightboxMedianoFixed .footer {
  padding-top: 20px;
}
.lightboxMedianoFixed .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoFixed .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoFixed .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO FIXED*/
/*LIGHTBOX MEDIANO FIXED*/
/*LIGHTBOX MEDIANO FIXED*/

/*LIGHTBOX MEDIANO FIXED UNO*/
/*LIGHTBOX MEDIANO FIXED UNO*/
/*LIGHTBOX MEDIANO FIXED UNO*/

.lightboxMedianoFixedUno {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoFixedUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoFixedUno .header,
.lightboxMedianoFixedUno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoFixedUno .header .h,
.lightboxMedianoFixedUno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoFixedUno .header .button:not(:first-child),
.lightboxMedianoFixedUno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoFixedUno .header {
}
.lightboxMedianoFixedUno .footer {
  padding-top: 20px;
}
.lightboxMedianoFixedUno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoFixedUno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoFixedUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO FIXED UNO*/
/*LIGHTBOX MEDIANO FIXED UNO*/
/*LIGHTBOX MEDIANO FIXED UNO*/

/*LIGHTBOX MEDIANO FIXED DOS*/
/*LIGHTBOX MEDIANO FIXED DOS*/
/*LIGHTBOX MEDIANO FIXED DOS*/

.lightboxMedianoFixedDos {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoFixedDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoFixedDos .header,
.lightboxMedianoFixedDos .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoFixedDos .header .h,
.lightboxMedianoFixedDos .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoFixedDos .header .button:not(:first-child),
.lightboxMedianoFixedDos .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoFixedDos .header {
}
.lightboxMedianoFixedDos .footer {
  padding-top: 20px;
}
.lightboxMedianoFixedDos .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoFixedDos .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoFixedDos .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO FIXED DOS*/
/*LIGHTBOX MEDIANO FIXED DOS*/
/*LIGHTBOX MEDIANO FIXED DOS*/

/*LIGHTBOX MEDIANO FIXED TRES*/
/*LIGHTBOX MEDIANO FIXED TRES*/
/*LIGHTBOX MEDIANO FIXED TRES*/

.lightboxMedianoFixedTres {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoFixedTres .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoFixedTres .header,
.lightboxMedianoFixedTres .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoFixedTres .header .h,
.lightboxMedianoFixedTres .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoFixedTres .header .button:not(:first-child),
.lightboxMedianoFixedTres .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoFixedTres .header {
}
.lightboxMedianoFixedTres .footer {
  padding-top: 20px;
}
.lightboxMedianoFixedTres .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoFixedTres .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoFixedTres .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO FIXED TRES*/
/*LIGHTBOX MEDIANO FIXED TRES*/
/*LIGHTBOX MEDIANO FIXED TRES*/

/*LIGHTBOX MEDIANO FIXED TRES*/
/*LIGHTBOX MEDIANO FIXED TRES*/
/*LIGHTBOX MEDIANO FIXED TRES*/

.lightboxMedianoFixedCuatro {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxMedianoFixedCuatro .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxMedianoFixedCuatro .header,
.lightboxMedianoFixedCuatro .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxMedianoFixedCuatro .header .h,
.lightboxMedianoFixedCuatro .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxMedianoFixedCuatro .header .button:not(:first-child),
.lightboxMedianoFixedCuatro .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxMedianoFixedCuatro .header {
}
.lightboxMedianoFixedCuatro .footer {
  padding-top: 20px;
}
.lightboxMedianoFixedCuatro .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxMedianoFixedCuatro .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxMedianoFixedCuatro .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 900px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX MEDIANO FIXED CUATRO*/
/*LIGHTBOX MEDIANO FIXED CUATRO*/
/*LIGHTBOX MEDIANO FIXED CUATRO*/


/*LIGHTBOX GRANDE FIXED*/
/*LIGHTBOX GRANDE FIXED*/
/*LIGHTBOX GRANDE FIXED*/
.h {
  margin-top: 0;
}
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
 background-color: #0054A5;
    border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.state {
  position: absolute;
  top: 0;
  left: -100vw;
}
.state:checked ~ .content {
  -webkit-transform: none;
          transform: none;
}
.state:checked ~ .backdrop {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.lightboxGrandeFixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxGrandeFixed .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxGrandeFixed .header,
.lightboxGrandeFixed .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxGrandeFixed .header .h,
.lightboxGrandeFixed .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxGrandeFixed .header .button:not(:first-child),
.lightboxGrandeFixed .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxGrandeFixed .header {
}
.lightboxGrandeFixed .footer {
  padding-top: 20px;
}
.lightboxGrandeFixed .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxGrandeFixed .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxGrandeFixed .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX GRANDE FIXED*/
/*LIGHTBOX GRANDE FIXED*/
/*LIGHTBOX GRANDE FIXED*/

/*LIGHTBOX GRANDE FIXED UNO*/
/*LIGHTBOX GRANDE FIXED UNO*/
/*LIGHTBOX GRANDE FIXED UNO*/

.lightboxGrandeFixedUno {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 0 20px;
}
.lightboxGrandeFixedUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  min-height: auto;
  margin: 110px auto;
  background: #fff;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}
.lightboxGrandeFixedUno .header,
.lightboxGrandeFixedUno .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightboxGrandeFixedUno .header .h,
.lightboxGrandeFixedUno .footer .h {
  margin: auto;
  color: #fff; 
  width: 100%;
  text-align: center;    
      
}
.lightboxGrandeFixedUno .header .button:not(:first-child),
.lightboxGrandeFixedUno .footer .button:not(:first-child) {
  margin-left: auto;
}
.lightboxGrandeFixedUno .header {
}
.lightboxGrandeFixedUno .footer {
  padding-top: 20px;
}
.lightboxGrandeFixedUno .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
overflow-y: auto;    
}
.lightboxGrandeFixedUno .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  opacity: 0;
  z-index: 12000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
  transition: 0.3s opacity ease-in-out, bottom 0.1s 0.3s;
}
    .header{
    width: 100%;
    height: 5%;
    background-color: #0054a5;    
    }

@media screen and (max-width:767px){
 .lightboxGrandeFixedUno .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  max-height: 80vh;
  margin: 70px auto;
  background: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out;
    border-bottom-width: 3px;
  border-bottom-color: #eb1c24 !important;
  border-bottom: solid;
}   
}
/*LIGHTBOX GRANDE FIXED UNO*/
/*LIGHTBOX GRANDE FIXED UNO*/
/*LIGHTBOX GRANDE FIXED UNO*/
