.responsive-tabs {
  }
  .responsive-tabs dt {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;  
    border-top: 1px solid #ccc;
    cursor: pointer;
       background-color: #0054A5;    
    }
  .responsive-tabs dt:first-child {
    border-top: 0;
     
    }
  .responsive-tabs .active {
    
    background-color: #fff;
    color: #0054A5;
    font-weight: 600;  
    }
  .responsive-tabs .active + dd {
    display: block;
     background-color: #fff;
     padding-left: 0;  
    }
  .responsive-tabs dd {
    display: none;
   
      
    margin-left: 0; 
    }

.responsive-tabs-placeholder {
  display: none;
  }


@media only screen and (min-width: 768px) {
  
  .responsive-tabs {
    }
    .responsive-tabs dt {
      float: left;
      border-top: 0;
      color: #fff;
      }
    .responsive-tabs .active + dd {
      display: none;
           
      }
    
 
  .responsive-tabs-placeholder {
    clear: both;
    display: block;
    padding: 1em;
    background-color:  #fff; 
    }
  

}



/* BASE STYLES */
